@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  font-family: "Noto Sans TC", sans-serif !important;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 26px;
  padding-bottom: 2%;
}

p {
  font-size: 20px;
  margin: 2%;
}

#header {
  background: linear-gradient(90deg, #ee9ca7, #ffdde1);
  width: 100%;
  padding: 1% 0 3%;
  text-align: center;
  box-shadow: 0px 1px 7px gray;
  position: relative;
  z-index: 999;
  color: rgb(46, 46, 46);
  /* text-shadow: 0px 1px 10px rgb(0, 0, 0); */
}

#info {
  text-align: center;
}

#info-in div {
  display: inline-block;
  margin: 0% 5% 0%;
  text-shadow: none;
}

#info-in p {
  margin: 0;
}

.content-block {
  padding: 10%;
  text-align: center;
}

.cb2 {
  background: linear-gradient(45deg, #cecece, #ffffff);
}

.content-block h2 {
  text-align: center;
  margin: 3% 1% 3% 1%;
}

#selfintroduction {
  text-align: justify;
}

/* #selfintroduction p {
  margin-top: 2%;
} */

#education div {
  text-align: center;
}

.h3-title {
  display: inline-block;
  font-size: 21px;
  margin: 9% 5% 0%;
}

/* #education p {
  margin: 2% 0;
} */

footer {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color:black;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
